body {
  margin: 0px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 5rem;
  margin: 70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #006080;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #006080;
  margin: 50px;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #D3C6C6;
  border-width: 6px;
  width: 5%

}

p {
  margin: 50px;
}

a {
  color: #11999E
}

.container-top {
  background-color: #00EAD3;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

.container-middle {}



.skill-row {
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
  width: 90%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-embed {
  width: 25%;
  float: right;
  margin-left: 0px;
  text-align: right;
}

.dd {
  margin-left: 465px;
}

.gp {
margin-left: 465px;
}

.code-skill-description {
  clear: left;
}

.code-skill-description-2 {
  clear: right;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 16px;
   font-weight: 100;
   padding: 10px;
   background-color: #006080;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #006080;
   border: solid #11999E 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: 0px;
  bottom: auto;
  top: 50px;
  right: 0px;
  left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-right-width: 0px;
  width: 100%;
  background-color: #006080;
  color: #11999E;
  text-align: center;
}
.name {
  color: #EAF6F6;
}
