body {
  margin: 0px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 5rem;
  margin: 70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #006080;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #006080;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #D3C6C6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

p {
  margin: 50px;
  line-height: 2;
}

a {
  color: #11999E
}

.container-top {
  background-color: #00EAD3;
  position: relative;
  padding-top: 100px;
}

.container-middle {
  margin: 100px 0;
}

.intro {
  width: 30%;
margin: auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 90%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-embed {
  width: 25%;
  float: right;
  margin-left: 0px;
  text-align: right;
}

.dd {
  margin-left: 465px;
}

.gp {
margin-left: 465px;
}

.code-skill-description {
  clear: left;
}

.code-skill-description-2 {
  clear: right;
}

.btn {
   background: #006080;
   background-image: -webkit-linear-gradient(top, #006080, #006080);
   background-image: -moz-linear-gradient(top, #006080, #006080);
   background-image: -ms-linear-gradient(top, #006080, #006080);
   background-image: -o-linear-gradient(top, #006080, #006080);
   background-image: -webkit-gradient(to bottom, #006080, #006080);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 18px;
   font-weight: 500;
   padding: 18px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #11999E 3px;
   background: #55A4A7;
   background-image: -webkit-linear-gradient(top, #55A4A7, #11999E);
   background-image: -moz-linear-gradient(top, #55A4A7, #11999E);
   background-image: -ms-linear-gradient(top, #55A4A7, #11999E);
   background-image: -o-linear-gradient(top, #55A4A7, #11999E);
   background-image: -webkit-gradient(to bottom, #55A4A7, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: 0px;
  bottom: auto;
  top: 50px;
  right: 0px;
  left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-right-width: 0px;
  width: 100%;
  background-color: #006080;
  color: #11999E;
  text-align: center;
}
.name {
  color: #EAF6F6;
}
