body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-size: 5rem;
  margin: 70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #006080;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #006080
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999E;
}

p {
  margin: 10px;
}

a {
  color: #11999E
}

.container-top {
  background-color: #00EAD3;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

.container-middle {}

.container-bottom {}

.skill-row {
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
  width: 90%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.giphy-embed {
  width: 25%;
  float: right;
  margin-left: 0px;
  text-align: right;
}

.dd {
  margin-left: 465px;
}

.gp {
margin-left: 465px;
}

.code-skill-description {
  clear: left;
}

.code-skill-description-2 {
  clear: right;
}
